*{
    padding: 0%;
    background-color: teal;

}

.formulario{

    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
    text-align: center;

}

input{
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 10px;

}

::placeholder{
    font-family: 'Righteous';
    font-style: oblique;
    font-size: 15px;
    color: black;
    
}

h1{
    color: rgb(204, 206, 86);
    display: inline;
    font-size: 45px;
    text-align: center;
    padding-left: 0%;
    align-items: center;
    cursor: pointer;
    margin-left: 41%;
}



.btnenviar{
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: yellow;
    cursor: pointer;


}

.btnenviar:hover{
  background-color: green;
}

.msg{
    color: red;
    font-weight: bold;
    align-items: center;

}
