*{
    padding: 0%;
    background-color: rgb(69, 127, 165);

}

.formulario{

    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
    text-align: center;

}

input{
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 10px;

}

input:hover{
    background-color: #fff;

}

::placeholder{
    font-family: 'Righteous';
    font-style: oblique;
    font-weight: bold;
    font-size: 15px;
    color: black;   
}

h1{
    color: rgb(204, 206, 86);
    display: inline;
    font-size: 45px;
    text-align: center;
    padding-left: 0%;
    align-items: center;
    cursor: pointer;
    margin-left: 41%;
}



.btnenviar{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background-color: yellow;
    cursor: pointer;
    width: 70px;
    margin-bottom: 5px;


}

.btnenviar:hover{
  background-color: green;
}

.msg{
    color: rgb(61, 195, 70);
    font-weight: bold;
    align-items: center;

}

.tabla{

    margin-top: 50px;
    margin-left: 36%;

}

.tabla th{
    font-style: oblique;
    font-weight: bold;
}
.tabla th, td{
    background-color: aqua;
}

.tabla tr{
    text-align: center;
}

.tabla td, th{
    background-color: rgb(134, 191, 87);
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black; 
    border-left: 2px solid black;  

}

.form:hover{

    background-color: red;

}


.eliminar{
    background-color: yellow;
    text-align: center;
    padding-right: 10px;
    padding-top: 5px;
    width: 70px;

}


.eliminar:hover{
    font-weight: bold;
    font-style: oblique;
    background-color: red;
}