*{

    background-color: rgb(115, 228, 104);
}

th, td{
    
    font-size: 40px;
    background-color: #fff;
    border: 1px solid black;
}

td{
    font-style: oblique;
}

table{
    margin-left: 0%;
    background-color: red;
    margin-top: 80%;
    text-align: center;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;

}

.formulario{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    font-size: 40px;

}

input, button{
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
    border-radius: 10%;
    border: 2px solid black;
    margin-bottom: 5px;
}

input:hover, button:hover{

    background-color: rgb(186, 160, 114);
}